/* Ogólny styl dla strony Informacja */
body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #222;
    color: white;
}

#navbar {
    width: 100%;
    background-color: #333;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    position: fixed;
    top: 0;
    z-index: 10;
    box-sizing: border-box;
}

#app-name {
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    flex-shrink: 0;
}

#auth-buttons {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

#auth-buttons button {
    background-color: #f1f1f1;
    color: #333;
    border: none;
    padding: 10px 15px;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 14px;
}

#auth-buttons button:hover {
    background-color: #ddd;
}

@media (max-width: 768px) {
    #auth-buttons {
        gap: 5px;
    }

    #auth-buttons button {
        padding: 8px 12px;
        font-size: 12px;
    }
}

/* Styl dla zawartości strony Informacja */
#content {
    margin-top: 80px; /* Dodatkowy margines, aby treść nie nachodziła na pasek nawigacyjny */
    padding: 20px;
    font-size: 18px;
    line-height: 1.6;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    background-color: #333;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.7);
}

h1, h2 {
    font-size: 28px;
    margin-bottom: 15px;
    color: #ffd828;
}

h1 {
    text-align: center;
    font-size: 36px;
    color: #ffd828;
}

p {
    font-size: 16px;
    margin-bottom: 10px;
    color: #ddd;
}

a {
    color: #ff0000;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Linki i przyciski w treści */
#content a {
    color: #ffffff;
}

#content a:hover {
    color: #ff0000;
}

/* Przyciski w treści */
button {
    background-color: #ff0000;
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 16px;
}

button:hover {
    background-color: #ff0000;
}

button:active {
    transform: scale(1.05);
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.7);
}

/* Responsywność */
@media (max-width: 768px) {
    #content {
        padding: 15px;
        font-size: 14px;
    }

    h1 {
        font-size: 28px;
    }

    h2 {
        font-size: 24px;
    }

    p {
        font-size: 14px;
    }
}
